In [1]:
import os
os.chdir('..')
import pandas as pd, numpy as np
from jh_utils.data.pandas.preprocessing import make_dummies
from modules.get_data import get_data

In [2]:
raw = pd.read_csv('asteroides/asteoides.csv')

/tmp/ipykernel_29298/668935226.py:1: DtypeWarning: Columns (3,4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  raw = pd.read_csv('asteroides/asteoides.csv')

In [3]:
raw.shape

(958524, 45)

In [4]:
sum(raw['pha'].isna())

19921

In [5]:
raw['pha'].value_counts()
sum(raw['pha'].isna())

19921

In [6]:
raw.columns

Index(['id', 'spkid', 'full_name', 'pdes', 'name', 'prefix', 'neo', 'pha', 'H',
       'diameter', 'albedo', 'diameter_sigma', 'orbit_id', 'epoch',
       'epoch_mjd', 'epoch_cal', 'equinox', 'e', 'a', 'q', 'i', 'om', 'w',
       'ma', 'ad', 'n', 'tp', 'tp_cal', 'per', 'per_y', 'moid', 'moid_ld',
       'sigma_e', 'sigma_a', 'sigma_q', 'sigma_i', 'sigma_om', 'sigma_w',
       'sigma_ma', 'sigma_ad', 'sigma_n', 'sigma_tp', 'sigma_per', 'class',
       'rms'],
      dtype='object')

In [7]:
print(raw.head(3).transpose())

                              0                1               2
id                     a0000001         a0000002        a0000003
spkid                   2000001          2000002         2000003
full_name               1 Ceres         2 Pallas          3 Juno
pdes                          1                2               3
name                      Ceres           Pallas            Juno
prefix                      NaN              NaN             NaN
neo                           N                N               N
pha                           N                N               N
H                           3.4              4.2            5.33
diameter                  939.4            545.0         246.596
albedo                     0.09            0.101           0.214
diameter_sigma              0.2             18.0          10.594
orbit_id                 JPL 47           JPL 37         JPL 112
epoch                 2458600.5        2459000.5       2459000.5
epoch_mjd                 58600            59000           59000
epoch_cal            20190427.0       20200531.0      20200531.0
equinox                   J2000            J2000           J2000
e                      0.076009         0.229972        0.256936
a                      2.769165         2.773841        2.668285
q                      2.558684         2.135935        1.982706
i                     10.594067        34.832932       12.991043
om                    80.305531       173.024741      169.851482
w                     73.597695       310.202392      248.066193
ma                    77.372098       144.975675      125.435355
ad                     2.979647         3.411748        3.353865
n                      0.213885         0.213345        0.226129
tp               2458238.754129   2458320.962366   2458445.79219
tp_cal          20180430.254129  20180721.462366  20181123.29219
per                 1683.145703      1687.410992     1592.013769
per_y                  4.608202          4.61988        4.358696
moid                    1.59478          1.23429         1.03429
moid_ld              620.640533       480.348639      402.514639
sigma_e                     0.0              0.0             0.0
sigma_a                     0.0              0.0             0.0
sigma_q                     0.0              0.0             0.0
sigma_i                     0.0         0.000003        0.000003
sigma_om                    0.0         0.000006        0.000017
sigma_w                     0.0         0.000009        0.000018
sigma_ma                    0.0         0.000009        0.000008
sigma_ad                    0.0              0.0             0.0
sigma_n                     0.0              0.0             0.0
sigma_tp                    0.0         0.000041        0.000035
sigma_per                   0.0         0.000004        0.000003
class                       MBA              MBA             MBA
rms                     0.43301          0.35936         0.33848

---

In [8]:
raw['class'].unique()

array(['MBA', 'OMB', 'MCA', 'AMO', 'IMB', 'TJN', 'CEN', 'APO', 'ATE',
       'AST', 'TNO', 'IEO', 'HYA'], dtype=object)

In [9]:
(raw.nunique()/raw.shape[0]).sort_values()

equinox           0.000001
prefix            0.000001
neo               0.000002
pha               0.000002
class             0.000014
albedo            0.001103
diameter_sigma    0.003186
orbit_id          0.004893
epoch_cal         0.005473
epoch_mjd         0.005473
epoch             0.005473
H                 0.009900
diameter          0.017309
name              0.023019
rms               0.067172
sigma_i           0.225076
sigma_om          0.232811
sigma_q           0.258875
sigma_n           0.262643
sigma_e           0.265763
sigma_w           0.274087
sigma_ma          0.278361
sigma_ad          0.280891
sigma_a           0.285123
sigma_per         0.294919
sigma_tp          0.303848
moid              0.327900
moid_ld           0.327901
i                 0.999885
e                 0.999917
tp_cal            0.999974
ad                0.999980
a                 0.999984
q                 0.999984
per               0.999985
per_y             0.999986
n                 0.999990
om                0.999994
w                 0.999995
ma                0.999995
tp                0.999995
pdes              1.000000
full_name         1.000000
spkid             1.000000
id                1.000000
dtype: float64

In [10]:
### get data function implemented
## dropeed first id columns
raw = get_data()
## (df.nunique()/df.shape[0]).sort_values()

/home/joaoholz/Documents/ufes/trabalho_final/modules/get_data.py:6: DtypeWarning: Columns (3,4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv("asteroides/asteoides.csv").iloc[:, first_columns:]

In [11]:
raw = raw[raw['pha'].notna()]

In [12]:
raw.shape

(938603, 39)

In [13]:
raw['pha'].value_counts()

N    936537
Y      2066
Name: pha, dtype: int64

In [14]:
sum(raw['pha'].isna())

0

In [15]:
(raw.isna().sum()/raw.shape[0]).sort_values()

n                 0.000000
tp_cal            0.000000
tp                0.000000
class             0.000000
w                 0.000000
om                0.000000
i                 0.000000
q                 0.000000
moid              0.000000
e                 0.000000
a                 0.000000
epoch_cal         0.000000
epoch_mjd         0.000000
epoch             0.000000
orbit_id          0.000000
pha               0.000000
equinox           0.000000
moid_ld           0.000000
sigma_w           0.000001
sigma_ma          0.000001
sigma_om          0.000001
sigma_i           0.000001
sigma_n           0.000001
sigma_tp          0.000001
sigma_q           0.000001
sigma_a           0.000001
rms               0.000001
per_y             0.000001
ma                0.000001
sigma_e           0.000001
per               0.000004
ad                0.000004
neo               0.000004
sigma_ad          0.000005
sigma_per         0.000005
H                 0.006672
diameter          0.854881
diameter_sigma    0.855018
albedo            0.856059
dtype: float64