In [1]:
## mine
from modules.get_data import get_x_y, get_x_y_no_NaNs
from jh_utils.data.pandas.preprocessing import make_dummies

In [2]:
## third
import pandas as pd, numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

## models
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression

## pos model
from sklearn.metrics import classification_report,confusion_matrix

per,per_y,rms,H - drop all na rows

In [3]:
x,y = get_x_y()

/home/joaoholz/Documents/ufes/trabalho_final/modules/get_data.py:5: DtypeWarning: Columns (3,4,5) have mixed types. Specify dtype option on import or set low_memory=False.
  return pd.read_csv('asteroides/asteoides.csv').iloc[:,first_columns:]

In [4]:
x[x.moid.isna()]

Empty DataFrame
Columns: [neo, H, epoch, epoch_mjd, epoch_cal, e, a, q, i, om, w, ma, ad, n, tp, tp_cal, per, per_y, moid, moid_ld, sigma_e, sigma_a, sigma_q, sigma_i, sigma_om, sigma_w, sigma_ma, sigma_ad, sigma_n, sigma_tp, sigma_per, class, rms]
Index: []

[0 rows x 33 columns]

In [5]:
len(x)

932335

In [6]:
(x.isna().sum()/x.shape[0]).sort_values()

neo          0.0
sigma_per    0.0
sigma_tp     0.0
sigma_n      0.0
sigma_ad     0.0
sigma_ma     0.0
sigma_w      0.0
sigma_om     0.0
sigma_i      0.0
sigma_q      0.0
sigma_a      0.0
sigma_e      0.0
moid_ld      0.0
moid         0.0
per_y        0.0
class        0.0
per          0.0
tp           0.0
n            0.0
ad           0.0
ma           0.0
w            0.0
om           0.0
i            0.0
q            0.0
a            0.0
e            0.0
epoch_cal    0.0
epoch_mjd    0.0
epoch        0.0
H            0.0
tp_cal       0.0
rms          0.0
dtype: float64

In [46]:
pd.crosstab(y,x.ma.isna())

ma    False  True
pha
N    936532      1
Y      2066      0

In [36]:
x.moid_ld.isna().sum()

127

In [39]:
x[x['per'].notna()].shape

(958520, 33)